@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");

/*Mecid start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #000;
}
.container {
    padding: 60px 120px 100px 120px;
    width: 100%;
}
header img {
    width: 112px;
    height: 66px;
}
.time {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.time .course img {
    width: 22px;
    height: 22px;
}
.time .course p {
    width: 500px;
    height: 32px;
    margin: -25px 0 0 30px;
    font-size: 20px;
}
.time .clock img {
    width: 22px;
    height: 22px;
    margin-left: -350px;
}
.time .clock p {
    width: 130px;
    height: 32px;
    margin: -25px 0 0 -320px ;
    font-size: 20px;
}
.time .calendar img {
    width: 20px;
    height: 22px;
    margin-left: -200px;
}
.time .calendar p {
    width: 130px;
    height: 32px;
    margin: -25px 0 0 -170px;
    font-size: 20px;
}
.movie {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.movie h1 {
    font-size: 80px;
}
.movie p {
    margin-top: 50px;
    font-size: 20px;
}
.movie img {
    width: 304px;
    height: 356px;
    margin-left: 150px;
}
.about {
    width: 483.63px;
    height: 200px;
    margin: 100px 0 0 300px;
    background: #1E4681;
    border-radius: 5px;
}
.about p {
    width: 430.59px;
    height: 113px;
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 20px;
    padding-top: 30px;
}
.about span {
    width: 280.5px;
    height: 45.64px;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 125px;
    padding-top: 40px;
}
/*Mecid end*/
/*Ramila start*/
.content {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}
.content h2 {
    font-size: 55px;
}
.content p {
    font-size: 24px;
    margin-top: 50px;
}
.content img {
    width: 314px;
    height: 315px;
    margin-left: 150px;
}
.text{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.text img {
    width: 232px;
    height: 203px;
}
.lesson h4 {
    width: 150px;
    height: 39px;
    font-size: 25px;
    margin-left: 100px;
}
.lesson p {
    width: 150px;
    height: 39px;
    font-size: 18px;
    margin-left: 100px;
}
.hour h4 {
    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-size: 25px;
}
.hour p {
    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-size: 18px;
}
.weak h4 {
    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-size: 25px;
}
.weak p {
    width: 150px;
    height: 39px;
    margin-left: 100px;
    font-size: 18px;
}
/*Ramila end*/
/*Ferid start*/
.course-about,
.course-learn {
    margin-top: 180px;
    width: 100%;
}
.course-about h2,
.course-learn h2 {
    font-size: 60px;
}
.course-formats {
    display: flex;
    margin-top: 90px;
}
.course-format {
    margin-right: 120px;
    width: 100%;
}
.course-format h4 {
    font-size: 30px;
    color: #1E4681;
}
.course-format p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}
.learn-list {
    margin: 50px 0 0 20px;
    font-size: 24px;
}
.learn-list-item {
    list-style: disc;
}
/*Ferid end*/
/*Ramila start*/
.programcourse {
    margin-top: 200px;
}
.programcourse h1 {
    font-size: 60px;
}
.allBlock{
    display:flex;
   flex-wrap: wrap;
   gap: 60px;
    margin-top: 100px;
}
.oneBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.oneBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.oneBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.oneBlock p {
    width: 330px;
    height: 63px;
    padding-left: 25px;
    font-size: 25px;
}
.twoBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.twoBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.twoBlock h4 {
    width: 350px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.twoBlock p {
    width: 330px;
    height: 63px;
    padding-left: 25px;
    font-size: 25px;
}
.threeBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.threeBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.threeBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.threeBlock p {
    width: 330px;
    height: 63px;
    padding-left: 25px;
    font-size: 25px;
}
.fourBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.fourBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.fourBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.fourBlock p {
    width: 330px;
    height: 63px;
    padding-left: 25px;
    font-size: 25px;
}
.fiveBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}
.fiveBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.fiveBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.fiveBlock p {
    width: 330px;
    height: 63px;
    padding-left: 25px;
    font-size: 25px;
}
.sixBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.sixBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.sixBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.sixBlock p {
    width: 330px;
    height: 63px;
    padding: 30px 0 0 25px;
    font-size: 25px;
}
.sevenBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.sevenBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.sevenBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.sevenBlock p {
    width: 330px;
    height: 63px;
    padding: 30px 0 0 25px;
    font-size: 25px;
}
.eightBlock {
    width: 350px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.eightBlock img {
    width: 350px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.eightBlock h4 {
    width: 330px;
    height: 39px;
    padding-left: 25px;
    font-size: 30px;
}
.eightBlock p {
    width: 330px;
    height: 63px;
    padding: 30px 0 0 25px;
    font-size: 25px;
}
/*Ramila end*/
/*Naila Aliyeva start*/
.card {
    padding: 5em 0em 3em;
    background-color: #EFEFEF;
}
.card .cardHead2 {
    width: 987px;
    height: 93px;
    font-size: 55px;
    font-weight: bold;
    margin: 0 0 35px 122px;
}
.card .box {
    height: 451px;
    width: 791px;
    border-radius: 30px;
    margin: 0 0 100px 126px;
    padding: 20px 0 0 40px;
    box-shadow: 1px 1px 20px 0px #00000040;
    background-color: white;
}
.card .box .up {
    height: 203px;
    width: 700px;
    left: 170px;
    font-size: 20px;
    padding: 20px 0 0 0;
    margin-bottom: 15px;
}
.card .box .down {
    display: flex;
    align-items: center;
}
.card .box .down .cardleft {
    height: 169px;
    width: 190px;
    left: 151px;
}
.card .box .down .cardright {
    margin-left: 30px;
}
.card .box .down .cardright p {
    height: 59px;
    width: 353px;
    left: 371px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
}
.card .box .down .cardright img {
    height: 31px;
    width: 32px;
    left: 371px;
}
.footer-top {
    width: 100%;
    height: 54.1vw;
    background: #9DC9C8;
}
.footerTopHead {
    font-weight: bold;
    font-size: 3.8vw;
    height: 4.58vw;
    width: 68.5vw;
    margin-bottom: 3.75vw;
}
.textCHead {
    font-size: 1.73vw;
    height: 2.22vw;
    width: 11.08vw;
}
.textCBody {
    height: 12.569vw;
    width: 33.40vw;
    font-size: 5.55vw;
}
.text1Head {
    font-size: 1.73vw;
    height: 2.22vw;
    width: 20.41vw;
}
.text1Body {
    height: 4.86vw;
    width: 20.41vw;
    font-size: 1.25vw;
}
.text2Head {
    font-size: 1.73vw;
    height: 2.22vw;
    width: 22.36vw;
}
.text2Body {
    font-size: 1.25vw;
    height: 4.86vw;
    width: 20.41vw;
}
.texts {
    display: flex;
}
.footerTopContent {
    margin-left: 8.47vw;
}
.text1 {
    margin-right: 4.86vw;
}
.footer-top {
    display: flex;
    align-items: center;
}
/*Naila Aliyeva end*/
/*Mecid start*/
ul li {
    list-style: none;
}
.Footer {
    width: 100%;
    height: 390px;
    background: #000000;
}
.Footer .Left img {
    width: 115px;
    height: 68px;
    margin: 30px 0 0 121px;
    display: inline-block;
}
.Footer .Left ul li img {
    width: 33px;
    height: 33px;
    margin-left: 30px;
}
.Footer .Left ul li {
    display: inline-block;
    margin-top: 10px;
}
.Footer .Left ul li:first-child {
    margin-left: 90px;
}
.Footer .Left p {
    width: 230px;
    height: 40px;
    margin: 150px 0 0 121px;
    font-size: 18px;
    color: #FFFFFF;
}
.Footer .Right {
    margin-top: -345px;
}
.Footer .Right ul li {
    margin: 20px 0 0 900px;
}
.Footer .Right ul li #one {
    width: 27px;
    height: 27px;
}
.Footer .Right ul li #two {
    width: 27px;
    height: 18px;
}
.Footer .Right p {
    display: inline-block;
    margin-left: 30px;
    width: 230px;
    height: 40px;
    font-size: 25px;
    color: #FFFFFF;
}
/*Mecid end*/