@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    position: relative;
    /*width: 1440px;*/
    height: 6575px;
}

header img {
    width: 112px;
    height: 66px;
    margin-left: 121px;
    margin-top: 21px;
}

.time .course img {
    width: 22px;
    height: 21px;
    margin-left: 121px;
    margin-top: 100px;
}

.time .course p {
    width: 130px;
    height: 32px;
    margin-left: 151px;
    margin-top: -25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.time .clock img {
    width: 22px;
    height: 22px;
    margin-left: 306px;
    margin-top: -100px;
}

.time .clock p {
    width: 130px;
    height: 32px;
    margin-left: 338px;
    margin-top: -25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.time .calendar img {
    width: 20px;
    height: 22px;
    margin-left: 467px;
    margin-top: -100px;
}

.time .calendar p {
    width: 130px;
    height: 32px;
    margin-left: 500px;
    margin-top: -25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.movie h1 {
    width: 628px;
    height: 190px;
    margin-left: 122px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
}

.movie p {
    width: 414px;
    height: 62px;
    margin-left: 122px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.movie img {
    width: 304px;
    height: 356px;
    margin-left: 890px;
    margin-top: -300px;
}

.about {
    width: 483.63px;
    height: 200px;
    margin-left: 409.39px;
    margin-top: 80px;
    background: #1E4681;
    border-radius: 5px;

}

.about p {
    width: 430.59px;
    height: 113px;
    margin-left: 435.42px;
    margin-top: -25px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 30px;

}

.about span {
    width: 280.5px;
    height: 45.64px;
    margin-left: 594px;
    margin-top: 821px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 125px;
    margin-top: 15px;
    padding-top: 10px;
}



/*Ramila start*/
.content h2 {
    width: 365px;
    height: 93px;
    margin-left: 121px;
    margin-top: 80px;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;

}

.content p {
    width: 662px;
    height: 374px;
    margin-left: 121px;
    margin-top: 45px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.content img {
    width: 314px;
    height: 315px;
    margin-left: 973px;
    margin-top: -300px;
    background: url(_1);
    z-index: 2;
}

.content .circle {
    width: 366px;
    height: 59px;
    margin-left: 947px;
    margin-top: -50px;
    background: #EFEFEF;
    z-index: 1;
    border-radius: 50%;
}

.text img {
    width: 232px;
    height: 203px;
    margin-left: 161px;
    margin-top: 50px;
}



.lesson h4 {
    width: 150px;
    height: 39px;
    margin-left: 485px;
    margin-top: -100px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.lesson p {
    width: 150px;
    height: 39px;
    margin-left: 485px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.hour h4 {
    width: 150px;
    height: 39px;
    margin-left: 730px;
    margin-top: -77px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.hour p {
    width: 150px;
    height: 39px;
    margin-left: 730px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.weak h4 {
    width: 150px;
    height: 39px;
    margin-left: 973px;
    margin-top: -77px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.weak p {
    width: 150px;
    height: 39px;
    margin-left: 973px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}


/*Ramila end*/



/*Ferid start*/

.course-about, .course-learn {
    margin-top: 180px;
    margin-left: 120px;
    margin-right: 345px;
}

.course-about h2, .course-learn h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
}

.course-formats {
    display: flex;
    margin-top: 90px;
}

.course-format  {
    margin-right: 170px;
}

.course-format h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.course-format p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.learn-list {
    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

/*Ferid end*/


/*Ramila start*/
.programcourse h1{
width: 905px;
height: 93px;
margin-left: 120px;
margin-top: 200px;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
color: #000000;
} 

.oneBlock{
display: flex;
flex-direction: column;
width: 399px;
height: 328px;
margin-left: 100px;
margin-top: 100px;
background: #FFFFFF;
box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.oneBlock img{
width: 399px;
height: 160px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

.oneBlock h4{
width: 365px;
height: 39px;
padding-left: 25px;
font-weight: 700;
font-size: 30px;
line-height: 130%;
color: #000000;
}

.oneBlock p{
width: 365px;
height: 63px;
padding-left: 25px;
font-weight: 400;
font-size: 25px;
line-height: 130%;
color: #000000;
}
.twoBlock{
    display: flex;
    flex-direction: column;
    width: 399px;
    height: 328px;
    margin-left: 530px;
    margin-top: -328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
    
    .twoBlock img{
    width: 399px;
    height: 160px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
    
    .twoBlock h4{
    width: 365px;
    height: 39px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    }
    
    .twoBlock p{
    width: 365px;
    height: 63px;
    padding-left: 25px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    }

    .threeBlock{
        display: flex;
        flex-direction: column;
        width: 399px;
        height: 328px;
        margin-left: 960px;
        margin-top: -328px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        }
        
        .threeBlock img{
        width: 399px;
        height: 160px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        }
        
        .threeBlock h4{
        width: 365px;
        height: 39px;
        padding-left: 25px;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #000000;
        }
        
        .threeBlock p{
        width: 365px;
        height: 63px;
        padding-left: 25px;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        color: #000000;
        }
        .foorBlock{
            display: flex;
            flex-direction: column;
            width: 399px;
            height: 328px;
            margin-left: 100px;
            margin-top: 100px;
            background: #FFFFFF;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            }
            
            .foorBlock img{
            width: 399px;
            height: 160px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            }
            
            .foorBlock h4{
            width: 365px;
            height: 39px;
            padding-left: 25px;
            font-weight: 700;
            font-size: 30px;
            line-height: 130%;
            color: #000000;
            }
            
            .foorBlock p{
            width: 365px;
            height: 63px;
            padding-left: 25px;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            color: #000000;
            }

            .fiveBlock{
                display: flex;
                flex-direction: column;
                width: 399px;
                height: 328px;
                margin-left: 530px;
                margin-top: -328px;
                background: #FFFFFF;
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
                border-radius: 30px;
                }
                
                .fiveBlock img{
                width: 399px;
                height: 160px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                }
                
                .fiveBlock h4{
                width: 365px;
                height: 39px;
                padding-left: 25px;
                font-weight: 700;
                font-size: 30px;
                line-height: 130%;
                color: #000000;
                }
                
                .fiveBlock p{
                width: 365px;
                height: 63px;
                padding-left: 25px;
                font-weight: 400;
                font-size: 25px;
                line-height: 130%;
                color: #000000;
                }
                .sixBlock{
                    display: flex;
                    flex-direction: column;
                    width: 399px;
                    height: 328px;
                    margin-left: 960px;
                    margin-top: -328px;
                    background: #FFFFFF;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
                    border-radius: 30px;
                    }
                    
                    .sixBlock img{
                    width: 399px;
                    height: 160px;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    }
                    
                    .sixBlock h4{
                    width: 365px;
                    height: 39px;
                    padding-left: 25px;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 130%;
                    color: #000000;
                    }
                    
                    .sixBlock p{
                    width: 365px;
                    height: 63px;
                    padding-left: 25px;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 130%;
                    color: #000000;
                    }

                    .sevenBlock{
                        display: flex;
                        flex-direction: column;
                        width: 399px;
                        height: 328px;
                        margin-left: 100px;
                        margin-top: 100px;
                        margin-bottom: 300px;
                        background: #FFFFFF;
                        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
                        border-radius: 30px;
                        }
                        
                        .sevenBlock img{
                        width: 399px;
                        height: 160px;
                        border-top-left-radius: 30px;
                        border-top-right-radius: 30px;
                        }
                        
                        .sevenBlock h4{
                        width: 365px;
                        height: 39px;
                        padding-left: 25px;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 130%;
                        color: #000000;
                        }
                        
                        .sevenBlock p{
                        width: 365px;
                        height: 63px;
                        padding-left: 25px;
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 130%;
                        color: #000000;
                        }
                        .eightBlock{
                            display: flex;
                            flex-direction: column;
                            width: 399px;
                            height: 328px;
                            margin-left: 530px;
                            margin-top: -628px;
                            background: #FFFFFF;
                            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
                            border-radius: 30px;
                            }
                            
                            .eightBlock img{
                            width: 399px;
                            height: 160px;
                            border-top-left-radius: 30px;
                            border-top-right-radius: 30px;
                            }
                            
                            .eightBlock h4{
                            width: 365px;
                            height: 39px;
                            padding-left: 25px;
                            font-weight: 700;
                            font-size: 30px;
                            line-height: 130%;
                            color: #000000;
                            }
                            
                            .eightBlock p{
                            width: 365px;
                            height: 63px;
                            padding-left: 25px;
                            padding-top: 30px;
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 130%;
                            color: #000000;
                            }
/*Ramila end*/




/*Naila Aliyeva start*/
.card {
    padding: 5em 0em 3em;
    background-color: #EFEFEF;
}
.card .cardHead2{
    width: 987px;
    height: 93px;
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    line-height: 101.38%;
    margin-bottom: 35px;
    margin-left: 122px;
} 
.card .box  {
    height: 451px;
    width: 791px;
    border-radius: 30px;
    margin-left: 126px;
    padding: 20px;
    padding-left: 40px;
    box-shadow: 1px 1px 20px 0px #00000040;
    background-color: white;
    margin-bottom: 100px;
}
.card .box .up{
    height: 203px;
    width: 700px;
    left: 170px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 0px;
    margin-bottom: 15px;
    color: #000000;
}
.card .box .down {
    display: flex;
    align-items: center;
}
.card .box .down .cardleft{
    height: 169px;
    width: 190px;
    left: 151px;
}
.card .box .down .cardright {
    margin-left: 30px;
}
.card .box .down .cardright p {
    height: 59px;
    width: 353px;
    left: 371px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    line-height: 101.38%;
    margin-bottom: -5px;
}
.card .box .down .cardright img {
    height: 31px;
    width: 32px;
    left: 371px;
}


/*Naila Aliyeva end*/

@media (min-width:991px) and (max-width:1279px) {
    
    
    
    header img {
        width: 64.87px;
        height: 38.23px;
        margin-left: 70.8px;
        margin-top: 22px;
    }

    .time .course img {
        width: 12.74px;
        height: 12.16px;
        margin-left: 70.08px;
        margin-top: 35px;
    }

    .time .course p {
        width: 75.29px;
        height: 18.53px;
        margin-left: 87.45px;
        margin-top: -17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .time .clock img {
        width: 12.74px;
        height: 12.74px;
        margin-left: 177.23px;
        margin-top: -25px;
    }

    .time .clock p {
        width: 75.29px;
        height: 18.53px;
        margin-left: 195.76px;
        margin-top: -17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .time .calendar img {
        width: 11.58px;
        height: 12.74px;
        margin-left: 270.47px;
        margin-top: 0px;
    }

    .time .calendar p {
        width: 75.29px;
        height: 18.53px;
        margin-left: 289.58px;
        margin-top: -17px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .movie h1 {
        width: 363.72px;
        height: 110.04px;
        margin-left: 50px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 46px;
        line-height: 101.38%;
        color: #000000;
    }

    .movie p {
        width: 264px;
        height: 36px;
        margin-left: 50px;
        margin-top: -5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }

    .movie img {
        width: 176.07px;
        height: 206.18px;
        margin-left: 515px;
        margin-top: -160px;
    }

    .about {
        width: 280.11px;
        height: 115.83px;
        margin-left: 200px;
        margin-top: -10px;
        background: #1E4681;
        border-radius: 2.89583px;
    }

    .about p {
        width: 249.38px;
        height: 65.45px;
        margin-left: 25px;
        padding-top: -5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
    }

    .about span {
        width: 162.46px;
        height: 26.43px;
        margin-left: 34px;
        padding-top: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-align: right;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 60px;
        margin-top: 10px;
    }

    /*Ramila start*/
    .content h2 {
        width: 211.4px;
        height: 53.86px;
        margin-left: 50px;
        margin-top: 50px;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
        color: #000000;
    }

    .content p {
        width: 383.41px;
        height: 216.61px;
        margin-left: 50px;
        margin-top: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
    }

    .content img {
        width: 181.86px;
        height: 182.44px;
        margin-left: 550px;
        margin-top: -200px;
        background: url(_1.png);

    }

    .content .circle {
        width: 211.98px;
        height: 34.17px;
        margin-left: 550px;
        margin-top: -30px;
        background: #EFEFEF;
        border-radius: 50%;
    }

    .text img {
        width: 134.37px;
        height: 117.57px;
        margin-left: 50px;
        margin-top: 9px;
        background: url(photo);
    }


    .lesson h4 {
        width: 86.88px;
        height: 22.59px;
        margin-left: 280px;
        margin-top: -100px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .lesson p {
        width: 86.88px;
        height: 22.59px;
        margin-left: 280px;
        margin-top: 3px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    .hour h4 {
        width: 86.88px;
        height: 22.59px;
        margin-left: 422px;
        margin-top: -50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .hour p {
        width: 108px;
        height: 23px;
        margin-left: 422px;
        margin-top: 3px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    .weak h4 {
        width: 86.88px;
        height: 22.59px;
        margin-left: 563px;
        margin-top: -50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .weak p {
        width: 86.88px;
        height: 22.59px;
        margin-left: 563px;
        margin-top: 3px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    /*Ramila end*/


    /*Ferid start*/



    /*Ferid end*/

    /*Naila Aliyeva start*/
    html,body{
        overflow-x: hidden;
    }
    .card{
        padding: 5em 0em 3em;
        background: #EFEFEF;
    }
    .card .cardHead2 {
        height: 6.4vw;
        width: 68.5vw;
        font-family: Roboto Slab;
        font-size: 3.8vw;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        line-height: 101.38%;
        margin-left: 8.4vw;
    }
    .card .box {
        height: 31vw;
        width: 55vw;
        border-radius: 2vw;
        margin-left: 8.7vw;
        padding: 1.3vw;
        padding-left: 2.7vw;
        box-shadow: 1px 1px 20px 0px #00000040;
        background-color: white;
        margin-bottom: 7vw;
    }
    .card .box .up {
        height: 14vw;
        width: 48vw;
        left: 11.8vw;
        font-family: Roboto;
        font-size: 1.3vw;
        font-style: normal;
        font-weight: 400;
        color: #000000;
        line-height: 150%;
        padding-top: 1.3vw;
        padding-right: 0vw;
        margin-bottom: 1.04vw;
    }
    .card .box .down {
        display: flex;
        align-items: center;
    }
    .card .box .down .cardleft {
        height: 11.7vw;
        width: 13.19vw;
        left: 10.4vw;
    }
    .card .box .down .cardleft img {
        height: 11vw;
        width: 12.5vw;
    }
    .card .box .down .cardright {
        margin-left: 2vw;
    }
    .card .box .down .cardright p {
        height: 4vw;
        width: 24.5vw;
        left: 25.7vw;
        font-family: Roboto Slab;
        font-size: 2vw;
        font-weight: bold;
        font-style: normal;
        color: #000000;
        line-height: 101.38%;
        margin-bottom: -0.3vw;
    }
    .card .box .down .cardright img {
        height: 2.1vw;
        width: 2.2vw;
        left: 25.7vw;
    }
    html,body{
        overflow-x: hidden;
    }
    /*Naila Aliyeva end*/   
}

@media(min-width: 320px) and (max-width:991px) {
    header img {
        width: 52.19px;
        height: 30.75px;
        margin-left: 35px;
        margin-top: 30px;
    }

    .time .course img {
        width: 10.25px;
        height: 9.79px;
        margin-left: 35px;
        margin-top: 50px;
    }

    .time .course p {
        width: 60.58px;
        height: 14.91px;
        margin-left: 48.98px;
        margin-top: -15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;

    }

    .time .clock img {
        width: 10.25px;
        height: 10.25px;
        margin-left: 121.21px;
        margin-top: -100px;
    }

    .time .clock p {
        width: 60.58px;
        height: 14.91px;
        margin-left: 136.12px;
        margin-top: -15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;
    }

    .time .calendar img {
        width: 9.32px;
        height: 10.25px;
        margin-left: 196.23px;
        margin-top: -100px;
    }

    .time .calendar p {
        width: 60.58px;
        height: 14.91px;
        margin-left: 211.6px;
        margin-top: -15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;
    }

    .movie h1 {
        width: 292.63px;
        height: 88.53px;
        margin-left: 35px;
        font-weight: 700;
        font-size: 37px;
        line-height: 101.38%;
        color: #000000;
    }

    .movie p {
        width: 212.4px;
        height: 28.96px;
        margin-left: 35px;
        margin-top: 0px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        color: #000000;
    }

    .movie img {
        width: 141.66px;
        height: 165.89px;
        margin-left: 200px;
        margin-top: -10px;
    }

    .about {
        width: 225.36px;
        height: 93.19px;
        margin-left: 37px;
        margin-top: 10px;
        background: #1E4681;
        border-radius: 2.32986px;
    }

    .about p {
        width: 200.64px;
        height: 52.65px;
        margin-left: 20px;
        padding-top: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #FFFFFF;
    }

    .about span {
        width: 130.7px;
        height: 21.27px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        text-align: right;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 80px;
        margin-top: 8px;

    }



    /*Ramila start*/
    .content h2 {
        width: 170.08px;
        height: 43.34px;
        margin-left: 36px;
        margin-top: 36px;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
        color: #000000;
    }

    .content p {
        width: 308.47px;
        height: 174.27px;
        margin-left: 36px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }

    .content img {
        width: 170.55px;
        height: 160.29px;
        margin-left: 100px;
        margin-top: 25px;
    }

    .content .circle {
        width: 170.55px;
        height: 27.49px;
        margin-left: 100px;
        margin-top: -15px;
        background: #EFEFEF;
        z-index: 1;
        border-radius: 50%;
    }

    .text img {
        display: none;
    }
    
    .lesson h4 {
        width: 69.9px;
        height: 18.17px;
        margin-left: 35px;
        margin-top: 50px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .lesson p {
        width: 86px;
        height: 18px;
        margin-left: 35px;
        margin-top: 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    .hour h4 {
        width: 69.9px;
        height: 18.17px;
        margin-left: 154.16px;
        margin-top: -40px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .hour p {
        width: 86.89px;
        height: 18.5px;
        margin-left: 154.16px;
        margin-top: 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    .weak h4 {
        width: 69.9px;
        height: 18.17px;
        margin-left: 35px;
        margin-top: 45px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .weak p {
        width: 76px;
        height: 18px;
        margin-left: 35px;
        margin-top: 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    /*Ramila end*/


    /*Ferid start*/



    /*Ferid end*/



    /*Naila Aliyeva start*/
    .card{
        padding: 10vw 0 3em;
        background: #EFEFEF;
        width: 100.26vw;
        height: 112.8vw;
    }
    .card .cardHead2 {
        width: 68.5vw;
        height: 18.4vw;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 6.93vw;
        margin-bottom: 2.93vw;
        margin-left: 8.4vw;
        color: #000000;
        line-height: 101.38%;
    }
    .card .box {
        height: 66.13vw;
        width: 82.13vw;
        border-radius: 3.73vw;
        margin-left: 8.7vw;
        padding: 1.3vw;
        padding-left: 2.7vw;
        box-shadow: 1px 1px 20px 0px #00000040;
        background-color: white;
    }
    .card .box .up{
        height: 29.6vw;
        width: 70.93vw;
        left: 11.8vw;
        font-family: Roboto;
        font-style: normal;
        font-size: 2.66vw;
        font-weight: 700;
        color: #000000;
        line-height: 4vw;
        padding-top: 1.3vw;
        padding-right: 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        margin-bottom: 1.04vw;
    }
    .card .box .down {
        display: flex;
        align-items: center;
    }
    .card .box .down .cardleft{
        height: 11.7vw;
        width: 13.19vw;
        left: 10.4vw;
    }
    .card .box .down .cardleft img {
        height: 22.4vw;
        width: 24.33vw;
        margin-left: 0vw;
        margin-bottom: 3.46vw;
    }
    .card .box .down .cardright {
        margin-left: 2vw;
    }
    .card .box .down .cardright p {
        height: 8.728vw;
        width: 43.864vw;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 3.73vw;
        font-style: normal;
        color: #000000;
        line-height: 101.38%;
        margin-top: 10.416vw;
        margin-left: 9vw;
        margin-bottom: -0.3vw;
    }
    .card .box .down .cardright img {
        height: 4.586vw;
        width: 3.976vw;
        margin-left: 9vw;
    }
    body,html{
        overflow-x: hidden;
    }
    /*Naila Aliyeva end*/

    
    
}