@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    position: relative;
    /*width: 1440px;*/
    height: 6575px;
}

header img {
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}

.time .course img {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
}

.time .course p {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 187px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.time .clock img {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 306px;
    top: 183px;
}

.time .clock p {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 338px;
    top: 187px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.time .calendar img {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 467px;
    top: 183px;
}

.time .calendar p {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 187px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.movie h1 {
    position: absolute;
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
}

.movie p {
    position: absolute;
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.movie img {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 223px;
}

.about {
    position: absolute;
    width: 483.63px;
    height: 200px;
    left: 409.39px;
    top: 666.62px;
    background: #1E4681;
    border-radius: 5px;

}

.about p {
    width: 430.59px;
    height: 113px;
    left: 435.42px;
    top: 685.88px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;

}

.about span {
    width: 280.5px;
    height: 45.64px;
    left: 594px;
    top: 821px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 125px;
    margin-top: 15px;
}



/*Ramila start*/
.content h2 {
    position: absolute;
    width: 365px;
    height: 93px;
    left: 121px;
    top: 1040px;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;

}

.content p {
    position: absolute;
    width: 662px;
    height: 374px;
    left: 121px;
    top: 1151px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.content img {
    position: absolute;
    width: 314px;
    height: 315px;
    left: 973px;
    top: 1175px;
    background: url(_1);
    z-index: 2;
}

.content .circle {
    position: absolute;
    width: 366px;
    height: 59px;
    left: 947px;
    top: 1460px;
    background: #EFEFEF;
    z-index: 1;
    border-radius: 50%;
}

.text img {
    position: absolute;
    width: 232px;
    height: 203px;
    left: 161px;
    top: 1612px;
    z-index: 2;
}



.lesson h4 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1689px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.lesson p {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1729px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.hour h4 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1689px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.hour p {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1729px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}

.weak h4 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1689px;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.weak p {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1729px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
}


/*Ramila end*/



/*Ferid start*/



/*Ferid end*/




/*Naila Aliyeva start*/
.card {
    padding: 5em 0em 3em;
    background-color: #EFEFEF;
}
.card .cardHead2{
    width: 987px;
    height: 93px;
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    line-height: 101.38%;
    margin-bottom: 35px;
    margin-left: 122px;
} 
.card .box  {
    height: 451px;
    width: 791px;
    border-radius: 30px;
    margin-left: 126px;
    padding: 20px;
    padding-left: 40px;
    box-shadow: 1px 1px 20px 0px #00000040;
    background-color: white;
    margin-bottom: 100px;
}
.card .box .up{
    height: 203px;
    width: 700px;
    left: 170px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 0px;
    margin-bottom: 15px;
    color: #000000;
}
.card .box .down {
    display: flex;
    align-items: center;
}
.card .box .down .cardleft{
    height: 169px;
    width: 190px;
    left: 151px;
}
.card .box .down .cardright {
    margin-left: 30px;
}
.card .box .down .cardright p {
    height: 59px;
    width: 353px;
    left: 371px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    line-height: 101.38%;
    margin-bottom: -5px;
}
.card .box .down .cardright img {
    height: 31px;
    width: 32px;
    left: 371px;
}


/*Naila Aliyeva end*/

@media (min-width:991px) and (max-width:1279px) {
    
    
    
    header img {
        position: absolute;
        width: 64.87px;
        height: 38.23px;
        left: 70.8px;
        top: 22px;
    }

    .time .course img {
        position: absolute;
        width: 12.74px;
        height: 12.16px;
        left: 70.08px;
        top: 116.4px;
    }

    .time .course p {
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 87.45px;
        top: 118.14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .time .clock img {
        position: absolute;
        width: 12.74px;
        height: 12.74px;
        left: 177.23px;
        top: 115.83px;
    }

    .time .clock p {
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 195.76px;
        top: 118.14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .time .calendar img {
        position: absolute;
        width: 11.58px;
        height: 12.74px;
        left: 270.47px;
        top: 115.83px;
    }

    .time .calendar p {
        position: absolute;
        width: 75.29px;
        height: 18.53px;
        left: 289.58px;
        top: 118.14px;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        color: #000000;
    }

    .movie h1 {
        position: absolute;
        width: 363.72px;
        height: 110.04px;
        left: 70.66px;
        top: 144.2px;
        font-weight: 700;
        font-size: 46px;
        line-height: 101.38%;
        color: #000000;
    }

    .movie p {
        position: absolute;
        width: 264px;
        height: 36px;
        left: 71px;
        top: 257px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }

    .movie img {
        position: absolute;
        width: 176.07px;
        height: 206.18px;
        left: 515.46px;
        top: 138.99px;
    }

    .about {
        position: absolute;
        width: 280.11px;
        height: 115.83px;
        left: 237.1px;
        top: 395.92px;
        background: #1E4681;
        border-radius: 2.89583px;
    }

    .about p {
        width: 249.38px;
        height: 65.45px;
        left: 252.18px;
        top: 407.08px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
    }

    .about span {
        width: 162.46px;
        height: 26.43px;
        left: 345.33px;
        top: 481.12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-align: right;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 60px;
        margin-top: 10px;
    }

    /*Ramila start*/
    .content h2 {
        position: absolute;
        width: 211.4px;
        height: 53.86px;
        left: 70.08px;
        top: 612.17px;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
        color: #000000;
    }

    .content p {
        position: absolute;
        width: 383.41px;
        height: 216.61px;
        left: 70.08px;
        top: 676.46px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
    }

    .content img {
        position: absolute;
        width: 181.86px;
        height: 182.44px;
        left: 563.53px;
        top: 690.36px;
        background: url(_1.png);
        z-index: 2;
    }

    .content .circle {
        position: absolute;
        width: 211.98px;
        height: 34.17px;
        left: 548.47px;
        top: 855.42px;
        background: #EFEFEF;
        z-index: 1;
        border-radius: 50%;
    }

    .text img {
        position: absolute;
        width: 134.37px;
        height: 117.57px;
        left: 70.08px;
        top: 947.51px;
        background: url(photo);
        z-index: 2;
    }


    .lesson h4 {
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 280.9px;
        top: 988.05px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .lesson p {
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 280.9px;
        top: 1011.22px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    .hour h4 {
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 422.79px;
        top: 988.05px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .hour p {
        position: absolute;
        width: 108px;
        height: 23px;
        left: 423px;
        top: 1011px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    .weak h4 {
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 563.53px;
        top: 988.05px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }

    .weak p {
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 563.53px;
        top: 1011.22px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #000000;
    }

    /*Ramila end*/


    /*Ferid start*/



    /*Ferid end*/

    /*Naila Aliyeva start*/
    html,body{
        overflow-x: hidden;
    }
    .card{
        padding: 5em 0em 3em;
        background: #EFEFEF;
    }
    .card .cardHead2 {
        height: 6.4vw;
        width: 68.5vw;
        font-family: Roboto Slab;
        font-size: 3.8vw;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        line-height: 101.38%;
        margin-left: 8.4vw;
    }
    .card .box {
        height: 31vw;
        width: 55vw;
        border-radius: 2vw;
        margin-left: 8.7vw;
        padding: 1.3vw;
        padding-left: 2.7vw;
        box-shadow: 1px 1px 20px 0px #00000040;
        background-color: white;
        margin-bottom: 7vw;
    }
    .card .box .up {
        height: 14vw;
        width: 48vw;
        left: 11.8vw;
        font-family: Roboto;
        font-size: 1.3vw;
        font-style: normal;
        font-weight: 400;
        color: #000000;
        line-height: 150%;
        padding-top: 1.3vw;
        padding-right: 0vw;
        margin-bottom: 1.04vw;
    }
    .card .box .down {
        display: flex;
        align-items: center;
    }
    .card .box .down .cardleft {
        height: 11.7vw;
        width: 13.19vw;
        left: 10.4vw;
    }
    .card .box .down .cardleft img {
        height: 11vw;
        width: 12.5vw;
    }
    .card .box .down .cardright {
        margin-left: 2vw;
    }
    .card .box .down .cardright p {
        height: 4vw;
        width: 24.5vw;
        left: 25.7vw;
        font-family: Roboto Slab;
        font-size: 2vw;
        font-weight: bold;
        font-style: normal;
        color: #000000;
        line-height: 101.38%;
        margin-bottom: -0.3vw;
    }
    .card .box .down .cardright img {
        height: 2.1vw;
        width: 2.2vw;
        left: 25.7vw;
    }
    html,body{
        overflow-x: hidden;
    }
    /*Naila Aliyeva end*/   
}

@media(min-width: 320px) and (max-width:991px) {
    header img {
        position: absolute;
        width: 52.19px;
        height: 30.75px;
        left: 35px;
        top: 36px;
    }

    .time .course img {
        position: absolute;
        width: 10.25px;
        height: 9.79px;
        left: 35px;
        top: 111.95px;
    }

    .time .course p {
        position: absolute;
        width: 60.58px;
        height: 14.91px;
        left: 48.98px;
        top: 111.35px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;

    }

    .time .clock img {
        position: absolute;
        width: 10.25px;
        height: 10.25px;
        left: 121.21px;
        top: 111.49px;
    }

    .time .clock p {
        position: absolute;
        width: 60.58px;
        height: 14.91px;
        left: 136.12px;
        top: 111.35px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;
    }

    .time .calendar img {
        position: absolute;
        width: 9.32px;
        height: 10.25px;
        left: 196.23px;
        top: 111.49px;
    }

    .time .calendar p {
        position: absolute;
        width: 60.58px;
        height: 14.91px;
        left: 211.6px;
        top: 111.35px;
        font-weight: 400;
        font-size: 10px;
        line-height: 115%;
        color: #000000;
    }

    .movie h1 {
        position: absolute;
        width: 292.63px;
        height: 88.53px;
        left: 35.47px;
        top: 134.32px;
        font-weight: 700;
        font-size: 37px;
        line-height: 101.38%;
        color: #000000;
    }

    .movie p {
        position: absolute;
        width: 212.4px;
        height: 28.96px;
        left: 35.74px;
        top: 225.07px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        color: #000000;
    }

    .movie img {
        position: absolute;
        width: 141.66px;
        height: 165.89px;
        left: 201px;
        top: 254px;
    }

    .about {
        position: absolute;
        width: 225.36px;
        height: 93.19px;
        left: 37.98px;
        top: 467.75px;
        background: #1E4681;
        border-radius: 2.32986px;
    }

    .about p {
        width: 200.64px;
        height: 52.65px;
        left: 50.11px;
        top: 476.72px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: #FFFFFF;
    }

    .about span {
        width: 130.7px;
        height: 21.27px;
        left: 125.05px;
        top: 536.29px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        text-align: right;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 30px;
        margin-top: 5px;

    }



    /*Ramila start*/
    .content h2 {
        position: absolute;
        width: 170.08px;
        height: 43.34px;
        left: 36px;
        top: 636px;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
        color: #000000;
    }

    .content p {
        position: absolute;
        width: 308.47px;
        height: 174.27px;
        left: 36px;
        top: 687.72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }

    .content img {
        position: absolute;
        width: 170.55px;
        height: 160.29px;
        left: 101px;
        top: 918px;
        z-index: 2;
    }

    .content .circle {
        position: absolute;
        width: 170.55px;
        height: 27.49px;
        left: 101px;
        top: 1050.8px;
        background: #EFEFEF;
        z-index: 1;
        border-radius: 50%;
    }

    .text img {
        display: none;
    }

    
    .lesson h4 {
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 1124px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .lesson p {
        position: absolute;
        width: 86px;
        height: 18px;
        left: 35px;
        top: 1143px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    .hour h4 {
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 154.16px;
        top: 1124px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .hour p {
        position: absolute;
        width: 86.89px;
        height: 18.5px;
        left: 154.33px;
        top: 1142.46px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    .weak h4 {
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 1195px;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
    }

    .weak p {
        position: absolute;
        width: 76px;
        height: 18px;
        left: 35px;
        top: 1214px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #000000;
    }

    /*Ramila end*/


    /*Ferid start*/



    /*Ferid end*/



    /*Naila Aliyeva start*/
    .card{
        padding: 10vw 0 3em;
        background: #EFEFEF;
        width: 100.26vw;
        height: 112.8vw;
    }
    .card .cardHead2 {
        width: 68.5vw;
        height: 18.4vw;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 6.93vw;
        margin-bottom: 2.93vw;
        margin-left: 8.4vw;
        color: #000000;
        line-height: 101.38%;
    }
    .card .box {
        height: 66.13vw;
        width: 82.13vw;
        border-radius: 3.73vw;
        margin-left: 8.7vw;
        padding: 1.3vw;
        padding-left: 2.7vw;
        box-shadow: 1px 1px 20px 0px #00000040;
        background-color: white;
    }
    .card .box .up{
        height: 29.6vw;
        width: 70.93vw;
        left: 11.8vw;
        font-family: Roboto;
        font-style: normal;
        font-size: 2.66vw;
        font-weight: 700;
        color: #000000;
        line-height: 4vw;
        padding-top: 1.3vw;
        padding-right: 0vw;
        margin-top: 2vw;
        margin-left: 2vw;
        margin-bottom: 1.04vw;
    }
    .card .box .down {
        display: flex;
        align-items: center;
    }
    .card .box .down .cardleft{
        height: 11.7vw;
        width: 13.19vw;
        left: 10.4vw;
    }
    .card .box .down .cardleft img {
        height: 22.4vw;
        width: 24.33vw;
        margin-left: 0vw;
        margin-bottom: 3.46vw;
    }
    .card .box .down .cardright {
        margin-left: 2vw;
    }
    .card .box .down .cardright p {
        height: 8.728vw;
        width: 43.864vw;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 3.73vw;
        font-style: normal;
        color: #000000;
        line-height: 101.38%;
        margin-top: 10.416vw;
        margin-left: 9vw;
        margin-bottom: -0.3vw;
    }
    .card .box .down .cardright img {
        height: 4.586vw;
        width: 3.976vw;
        margin-left: 9vw;
    }
    body,html{
        overflow-x: hidden;
    }
    /*Naila Aliyeva end*/

    
    
}