@media (min-width:980px) and (max-width:1280px) {

    /*Mecid start*/
    .container {
        padding: 50px 100px 80px 100px;
        width: 90%;
    }
    /*Mecid end*/
    /*Ramila start*/
    .content p {
        font-size: 20px;
        margin-top: 35px;
    }
    .content img {
        width: 314px;
        height: 315px;
        margin: 100px 0 0 60px;
    }
    .text{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    .text img {
        width: 180px;
        height: 170px;
    }
    .lesson h4 {
        width: 150px;
        height: 39px;
        font-size: 25px;
        margin-left: 80px;
    }
    .lesson p {
        width: 150px;
        height: 39px;
        font-size: 18px;
        margin-left: 80px;
    }
    .hour h4 {
        width: 150px;
        height: 39px;
        margin-left: 80px;
        font-size: 25px;
    }
    .hour p {
        width: 150px;
        height: 39px;
        margin-left: 80px;
        font-size: 18px;
    }
    .weak h4 {
        width: 150px;
        height: 39px;
        margin-left: 80px;
        font-size: 25px;
    }
    .weak p {
        width: 150px;
        height: 39px;
        margin-left: 80px;
        font-size: 18px;
    }
    .programcourse {
        width: 100%;
        margin-top: 100px;
    }
    .programcourse h1 {
        font-size: 50px;
    }
    .allBlock1{
        display:flex;
        flex-direction: row;
        margin-top: 80px;
    }
    .oneBlock {
        margin-right: 40px;
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .oneBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .oneBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .oneBlock p {
        width: 260px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .twoBlock {
        margin-right: 40px;
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .twoBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .twoBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .twoBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .threeBlock {
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .threeBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .threeBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .threeBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .allBlock2{
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }
    .fourBlock {
        margin-right: 40px;
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .fourBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .fourBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .fourBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .fiveBlock {
        margin-right: 40px;
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .fiveBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .fiveBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .fiveBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .sixBlock {
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .sixBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .sixBlock h4 {
        width: 240px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .sixBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .allBlock3{
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }
    .sevenBlock {
        margin-right: 40px;
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .sevenBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .sevenBlock h4 {
        width: 240px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .sevenBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    .eightBlock {
        width: 260px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .eightBlock img {
        width: 260px;
        height: 120px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .eightBlock h4 {
        width: 260px;
        height: 30px;
        padding-left: 20px;
        font-size: 22px;
    }
    .eightBlock p {
        width: 250px;
        height: 60px;
        padding-left: 20px;
        font-size: 18px;
    }
    /*Ramila end*/
    /*Mecid start*/
ul li {
    list-style: none;
}
.Footer {
    width: 100%;
    height: 390px;
    background: #000000;
}
.Footer .Left img {
    width: 115px;
    height: 68px;
    margin: 30px 0 0 121px;
    display: inline-block;
}
.Footer .Left ul li img {
    width: 33px;
    height: 33px;
    margin-left: 30px;
}
.Footer .Left ul li {
    display: inline-block;
    margin-top: 10px;
}
.Footer .Left ul li:first-child {
    margin-left: 90px;
}
.Footer .Left p {
    width: 230px;
    height: 40px;
    margin: 150px 0 0 121px;
    font-size: 18px;
    color: #FFFFFF;
}
.Footer .Right {
    margin-top: -345px;
}
.Footer .Right ul li {
    margin: 20px 0 0 600px;
}
.Footer .Right ul li #one {
    width: 27px;
    height: 27px;
}
.Footer .Right ul li #two {
    width: 27px;
    height: 18px;
}
.Footer .Right p {
    display: inline-block;
    margin-left: 30px;
    width: 230px;
    height: 40px;
    font-size: 25px;
    color: #FFFFFF;
}
/*Mecid end*/
}


